<style type="text/css">
   #bodyTable {height:100% !important; margin:0; padding:0; width:100% !important;}
   #templateContainer { max-width: 700px; width: 100%; }
   #templatePreheader{ padding: 0 30px; }
   .mobile-footer {
      display: none !important;
    }
</style>

<style type="text/css">
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    #templateContainer { max-width: 600px !important; width: 100% !important; }
    #templatePreheader{ padding: 0px 30px; }

    .main-container{
      width: 100%;
      border: 0;
    }

    .desk-img{
      width: 100%;
    }

    .academy-img-cell{
      display: none;
    }

    .container, .content{
      max-width: 100%;
    }

    .centered-cell{
      text-align: center;
    }

    .calendar-cell{
      display: none;
    }

    .class-info-cell{
      padding: 0;
    }

    a.btn{
      display: inline-block;
      padding: 10px 50px;
    }

    .btn-holder{
      text-align: center;
    }

    .teacher-info-cell{
      display: block!important;
      text-align: center;
      }

    .teacher-info-cell p, #name-cell{
      text-align: left;
    }

    #teacher-pic{
      display: inline-block;
    }

    #teacher-bio {
      padding-left: 0;
    }

    .footer-img-holder, .about-header-cell, .about-table-cell{
      display: block;
      text-align: center;
    }

    .about-company-table{
      display: none;
    }
    .mobile-footer {
      display: block !important;
    }
    .footer {
      display: none !important;
    }

    td[class=headercell] img {
      height:auto !important;
      width:100% !important;
    }

    .none {
      display: none;
    }

    .mobile {
      display: block !important;
    }
  }
</style>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
  <tr>
    <td align="center" valign="top" id="bodyCell">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="main-container" id="templateContainer">
        <tr>
          <td align="center" valign="top" id="bodyCell">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader" bgcolor="#F5F5F5" >
              <tr>
                <td class="header container">
                  <div class="content">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td><%= image_tag("logo_header_2x.png", class: "header-logo") %></td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          <td>
        </tr>
        <tr>
          <td align="center" valign="top" id="bodyCell" class="container" bgcolor="#FFFFFF">
            <div class="content">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                <tr>
                  <td class="centered-cell">
                    <h3>Congratulations!</h3>
                    <div id="name-cell">
                      Hi{Name}
                    </div>
                  </td>
                  <td class="academy-img-cell" rowspan="2" style="text-align: right;">
                    <%= image_tag("academy_icon_emailreminder_2x.png",class: "academy-img", :width => "140px", :height=> "100px") %>
                  </td>
                </tr>
              </table>
            </div>
            <div class="content">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader" class="schedule" >
                <tr>
                  <td class="heading" style="padding: 20px 0;">
                    Thanks for registering!
                  </td>
                </tr>
                <tr>
                  <td class="calendar-cell" align="center" valign="top" style="padding: 18px 20px 0 0;">
                    <div style="width:177px;height:197px;background:#ffffff;border:1px solid #e3e3e3;">
                      <div style="height:41px;background:#60B86A;color:#ffffff;">
                        <p style="font-size: 18px;line-height: 42px;text-align: center; margin: 0;">November</p>
                      </div>
                      <p style="font-size:65px; text-align:center; color:#4a4a4a; padding: 30px 0; margin: 0;">
                        18
                        <span style="display:block; font-size:20px; color:#AFAFAF;">Wednesday</span>
                      </p>
                    </div>
                  </td>
                  <td class="class-info-cell" valign="top">
                    <div class="blk" style="padding-bottom: 24px;">
                      <label>Class:</label>
                      <span>How To Reach a Tough Goal</span>
                    </div>
                    <div class="blk" style="padding-bottom: 24px;">
                      <label>Time:</label>
                      <span>Tuesday, October 18, 2013 @ 10:00 am</span>
                    </div>
                    <div class="blk" style="padding-bottom: 24px;">
                      <label>Class Overview:</label> 
                      <span>
                        The most meaningful goals we pursue are usually also the toughest ones to reach. We'll discuss the *science* of reaching those tough goals.
                      </span>
                    </div>
                    <div class="btn-holder"><a class="btn" id="blue_btn">View Class!</a></div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top" style="padding: 36px 0;">
            <table class="teacher-info-table" style="padding: 15px 30px; width: 90%;" border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
              <tr>
                <td class="teacher-info-cell">
                  <div id="teacher-pic">
                    <%= image_tag "heidi_square.png" %>
                  </div>
                </td>
                <td class="teacher-info-cell" id="teacher-bio" valign="top" >
                  <div>
                    <h4>Heidi Grant Halvorson, Ph.D.</h4>
                    <p style="padding-bottom: 8px; margin: 0;">
                      Heidi is a social psychologist who researches, writes and speaks about the science of motivation. She is the Associate Director of the Motivation Science Center at the Columbia Business School.
                    </p>
                  </div>
                  <a href="#" style="text-decoration: none;">View full bio <%= image_tag("gren_arrow_2x.png",:class=>"arrow") %></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top" id="bodyCell">
            <table class="desk-table" border="0" cellpadding="0" cellspacing="0" width="100%" id="">
              <tr>
                <td class="headercell"><%= image_tag("desk.png",class: "desk-img") %></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="25"></td>
        </tr>
        <tr>
          <td align="center" class="footer" style="display: block;">
            <table cellspacing="0" cellpadding="0" border="0" width="95%" align="center" id="templateContainer">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color:#8c8c8c;font-size:13px;line-height:normal;" id="templatePreheader">
                    <tr>
                      <td width="33%" valign="top">
                        <a href="#" class="footer-img-holder"><%= image_tag("logo_footer_2x.png", class: "footer-logo") %></a>
                        <p style="margin:15px 0;padding:0px;">
                          Our purpose is to help you optimize your life so we can change the world together.
                        </p>
                        <h5 style="margin:0 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                            Company <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                        </h5>
                        <table>
                          <tr>
                            <td width="90"><a href="#" style="color:#8c8c8c;text-decoration:none;">About</a></td>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Affiliate Program</a></td>
                          </tr>
                          <tr>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Contact Us</a></td>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Privacy Policy</a></td>
                          </tr>
                          <tr>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Support</a></td>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Terms & Conditions</a></td>
                          </tr>
                        </table>
                      </td>
                      <td width="33%" align="center" style="text-align:center;" valign="top">
                        <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                          Share the Wisdom <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                        </h5>
                        <p style="margin:5px 0 20px 0;padding:0px;">
                          <a href="#"><%= image_tag("twitter_icon_2x.png", class: "twitter-img") %></a>
                        </p> 
                         <p style="margin:0px 0 20px 0;padding:0px;">
                          <a href="#"><%= image_tag("facebook_icon_2x.png", class: "fb-img")%></a>
                        </p>    
                      </td>
                      <td width="33%" valign="top">
                        <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                            More Goodness <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                        </h5> 
                        <table border="0" width="100%">
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">The Academy for Optimal Living</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Virtual Conferences</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">PhilosophersNotes</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Optimal Living 101</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">The Academy for Optimal Living</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Rock Your Goddess Life</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Blissitations</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Quotes</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Big Ideas</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>  
                </td>
              </tr>
            </table>  
          </td>
        </tr>
        <tr>
          <td align="center" class="mobile-footer" style="display: none !important; background-color: red; ">
            <table cellspacing="0" cellpadding="0" border="0" width="95%" align="center" id="templateContainer">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color:#8c8c8c;font-size:13px;line-height:normal;" id="templatePreheader">
                    <tr>
                      <td width="33%" valign="top">
                        <a href="#" class="footer-img-holder"><%= image_tag("logo_footer_2x.png", class: "footer-logo") %></a>
                        <p style="margin:15px 0;padding:0px;">
                          Our purpose is to help you optimize your life so we can change the world together.
                        </p>
                        <h5 class="none" style="margin:0 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                            Company <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                        </h5>
                        <table class="none">
                          <tr>
                            <td width="90"><a href="#" style="color:#8c8c8c;text-decoration:none;">About</a></td>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Affiliate Program</a></td>
                          </tr>
                          <tr>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Contact Us</a></td>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Privacy Policy</a></td>
                          </tr>
                          <tr>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Support</a></td>
                            <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Terms & Conditions</a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color:#8c8c8c;font-size:13px;line-height:normal;" id="templatePreheader">
                    <tr class="none">
                      <td width="33%" align="center" style="text-align:center;" valign="top">
                        <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                          Share the Wisdom <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                        </h5>
                        <p style="margin:5px 0 20px 0;padding:0px;">
                          <a href="#"><%= image_tag("twitter_icon_2x.png", class: "twitter-img") %></a>
                        </p> 
                         <p style="margin:0px 0 20px 0;padding:0px;">
                          <a href="#"><%= image_tag("facebook_icon_2x.png", class: "fb-img")%></a>
                        </p>    
                      </td>
                    </tr>
                    <tr class="mobile">
                      <td width="100%" colspan="3" align="center">
                        <table width="100%">
                          <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949; width: 100%; text-align: center;">
                            Share the Wisdom <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                          </h5>
                        </table>
                      </td>
                    </tr>
                    <tr class="mobile" align="center">
                      <td>
                        <table width="100%">
                          <tr>
                            <td>
                              <a href="#"><%= image_tag("twitter_icon_2x.png", class: "twitter-img") %></a> 
                            </td>
                            <td>
                              <a href="#"><%= image_tag("facebook_icon_2x.png", class: "fb-img")%></a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color:#8c8c8c;font-size:13px;line-height:normal;" id="templatePreheader">
                    <tr>
                      <td width="33%" valign="top">
                        <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                            More Goodness <%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %>
                        </h5> 
                        <table border="0" width="100%">
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">The Academy for Optimal Living</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Virtual Conferences</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">PhilosophersNotes</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Optimal Living 101</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">The Academy for Optimal Living</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Rock Your Goddess Life</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Blissitations</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Quotes</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" style="color:#8c8c8c;text-decoration:none;">Big Ideas</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>  
          </td>
        </tr>
        <tr>
          <td height="45"></td>
        </tr>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" border="0" width="95%" align="center" id="templatePreheader">
              <tr>
                <td bgcolor="#f5f5f5" style="background-color:#f5f5f5;border:1px solid #e0e0e0;padding:30px 20px;line-height:22px;text-align:center;color:#6e6e6e;font-size:13px;">
                  en + theos. Two little Greek words. Put ‘em together and you’ve got enthusiasm—or “God within”—the secret sauce to authentic awesomeness.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="70"></td>
        </tr>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" border="0" width="95%" align="center" id="templatePreheader">
              <tr>
                <td style="font-size:12px; text-align:center;">
                  <p style="margin:0px 0 20px 0;padding:0px 50px; line-height: 20px;">
                    You’re receiving this email because you signed up for the {<a href="#" style="color:#407bcf;text-decoration;">insert reason</a>}.If this email looks weird, <a href="#" style="color:#407bcf;text-decoration;">view it in your browser</a>. If you don’t want to receive this newsletter anymore,you can <a href="#" style="color:#407bcf;text-decoration;">unsubscribe</a>. (If you like it, share with a friend! :)
                  </p>
                  <p style="margin:0;padding:36px 0px;">
                    @copy; 2009-2013 en*theos Enterprises, LLC | P.O. Box 33582 San Diego, CA 92163 
                  </p> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <%=link_to "send mail", welcome_index_path, method: "post" %>
        </tr>
      </table>
    </td>
  </tr>
</table>