<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/email.css" />
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">


<table class="head-wrap" bgcolor="#F5F5F5">
	<tr>
		<td></td>
		<td class="header container">
			
			<div class="content">
			<table>
				<tr>
					<td align="left"><img src="/assets/images/logo_header_2x.png" /></td>
				</tr>
			</table>
			</div>
			
		</td>
		<td></td>
	</tr>
</table>

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">
			
			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td>
              <h3>Congratulations!</h3>
              <p>Hi{Name}</p>
						</td>
            <td>
              <%= image_tag "academy_icon_emailreminder_2x.png" %>
            </td>
					</tr>
          <tr>
            <td>
              Thanks for registering!
            </td>
          </tr>
				</table>
			</div>
			

      <div class="content">
        <table cellspacing="10">
          <tr>
            <td>
              <img src="http://placehold.it/200x200/" />
            </td>
            <td>
              <p>Class: How To Reach a Tough Goal</p>
              <p>Time: Tuesday, October 18, 2013 @ 10:00 am</p>
              <p>Class Overview: The most meaningful goals we pursue are usually also the toughest ones to reach. We'll discuss the *science* of reaching those tough goals.</p>
              <a class="btn">View Class!</a>
            </td>
          </tr>
        </table>
      </div>


      <div class="content">
        <table cellspacing="10">
          <tr>
            <td>
              <div style="border-radius:50%;overflow:hidden;">
                <%= image_tag "heidi_square.png" %>
              </div>
            </td>
            <td>
              <p><b>Heidi Grant Halvorson, Ph.D.</b></p>
              <p>Heidi is a social psychologist who researches, writes and speaks about the science of motivation. She is the Associate Director of the Motivation Science Center at the Columbia Business School.</p>
              <a>View full bio <%= image_tag "gren_arrow_2x.png" %></a>
            </td>
          </tr>
        </table>
      </div>
		</td>
		<td></td>
	</tr>
</table>

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
					<table cellspacing="10">
            <tr>
              <th align ="center"><%= image_tag "logo_footer_2x.png" %></th>
              <th align = "center"><p>Share the Wisdom <%= image_tag "small_grey_arrow_2x.png" %></p></th>
              <th align = "center"><p>More Goodness <%= image_tag "small_grey_arrow_2x.png"%></p></th>
            </tr>
						<tr>
							<td>
								<p>Our purpose is to help you optimize your life so we can change the world together.</p>
                <p><b>Company</b><%=image_tag "small_grey_arrow_2x.png" %></p>
                <p>About</p>
                <p>Contact Us</p>
                <p>Support</p>
							</td>

              <td>
                <p><%= image_tag "twitter_icon_2x.png" %></p>
                <p><%= image_tag "facebook_icon_2x.png"%></p>
              </td>

              <td>
                <p>The Academy for Optimal Living Virtual Conferences PhilosophersNotes Optimal Living 101 Rock Your Goddess Life Blisstations Quotes Big Ideas</p>
              </td>

						</tr>

            <tr >
              <td colspan="3" style="border: 1px solid #E0E0E0; background-color: #F5F5F5;padding:20px;">
                <p><b>en + theos.</b> Two little Greek words. Put'em together and you've got <i>enthusiasm</i>--or "God within"--the secret sauce to authentic awesomeness.</p>
              </td>
            </tr>
					</table>
          <table>
            <tr>
              <td align="center">
              <p>You're receiving this email because you signed up for the {insert reason}.</br>
              If this email looks weird,<a> view it in your browser.</a></br>
              If you don't want to receive this newsletteranymore,you can <a>unsubscribe</a>(if you like share it with your friend!)
              </td>
            </tr>
          </table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>