<!DOCTYPE html>
<html style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
<head style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
  
  

</head>
<body bgcolor="#F8F8F8" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%;">

  <div class="main-container" style="margin: 0 auto;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 60%;border: 1px solid #E0E0E0;-moz-box-shadow: 0 3px 5px 2px #E0E0E0;-webkit-box-shadow: 0 3px 5px 2px #E0E0E0;box-shadow: 0 3px 5px 2px #E0E0E0;background: #ffffff;">
    <table class="head-wrap" bgcolor="#F5F5F5" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
    	<tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
    		<td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></td>
    		<td class="header container" style="margin: 0 auto;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;display: block;max-width: 720px;clear: both;">
    			
    			<div class="content" style="margin: 0 auto;padding: 15px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;max-width: 720px;display: block;">
    			<table style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
    				<tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
    					<td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><%= image_tag("logo_header_2x.png", class: "header-logo") %></td>
    				</tr>
    			</table>
    			</div>
    			
    		</td>
    		<td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></td>
    	</tr>
    </table>

    <table class="body-wrap" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
    	<tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
    		<td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></td>
    		<td class="container" bgcolor="#FFFFFF" style="margin: 0 auto;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;display: block;max-width: 720px;clear: both;">
    			
    			<!-- content -->
    			<div class="content" style="margin: 0 auto;padding: 15px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;max-width: 720px;display: block;">
    				<table style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
    					<tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
    						<td class="centered-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                  <h3 style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue Light&quot;, &quot;Helvetica Neue&quot;, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 500;font-size: 27px;">Congratulations!</h3>
                </td>
                <td class="academy-img-cell" rowspan="2" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;text-align: right;">
                  <%= image_tag("academy_icon_emailreminder_2x.png",class: "academy-img", :width => "140px", :height=> "100px") %>
                </td>
    					</tr>
              <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                <td id="name-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;vertical-align: bottom;">
                  <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">Hi{Name}</p>
                </td>
              </tr>
              <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                  Thanks for registering!
                </td>
              </tr>
    				</table>
    			</div>
    			

          <div class="content" style="margin: 0 auto;padding: 15px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;max-width: 720px;display: block;">
            <table id="class-info-table" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
              <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                <td class="calendar-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                  <img src="http://placehold.it/200x200/" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;max-width: 100%;">
                </td>
                <td class="class-info-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;padding-left: 40px;">
                  <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Class: <b style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">How To Reach a Tough Goal</b></p>
                  <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Time: <b style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">Tuesday, October 18, 2013 @ 10:00 am</b></p>
                  <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Class Overview: The most meaningful goals we pursue are usually also the toughest ones to reach. We'll discuss the *science* of reaching those tough goals.</p>
                  <p class="btn-holder" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;"><a class="btn" id="blue_btn" style="margin: 0;padding: 10px 40px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color: #FFF;text-decoration: none;margin-right: 10px;text-align: center;cursor: pointer;display: inline-block;background-color: #407BCF;-webkit-box-shadow: 0 5px 0px 0px #2E5997;-moz-box-shadow: 0 5px 0px 0px #2E5997;box-shadow: 0 5px 0px 0px #2E5997;">View Class!</a></p>
                </td>
              </tr>
            </table>
          </div>


          <div class="content" style="margin: 0 auto;padding: 15px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;max-width: 720px;display: block;">
            <table id="teacher-info-table" style="margin: 0;padding: 20px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;border-left: 1px solid #E8E8E8;border-right: 1px solid #E8E8E8;border-bottom: 1px solid #E8E8E8;border-top: 5px solid #4A4A4A;background: #F8F8F8;">
              <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                <td class="teacher-info-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;vertical-align: top;">
                  <div id="teacher-pic" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;border-radius: 50%;overflow: hidden;">
                    <%= image_tag "heidi_square.png" %>
                  </div>
                </td>
                <td class="teacher-info-cell" id="teacher-bio" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;vertical-align: top;padding-left: 30px;">
                  <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;"><b style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">Heidi Grant Halvorson, Ph.D.</b><br style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                    Heidi is a social psychologist who researches, writes and speaks about the science of motivation. She is the Associate Director of the Motivation Science Center at the Columbia Business School.</p>
                  <a style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color: #2BA6CB;">View full bio <%= image_tag("gren_arrow_2x.png",:class=>"arrow") %></a>
                </td>
              </tr>
            </table>
          </div>
    		</td>
    		<td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></td>
    	</tr>
    </table>

    <table class="desk-table" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
      <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
        <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><%= image_tag("desk.png",class: "desk-img") %></td>
      </tr>
    </table>

    <!-- FOOTER -->
    <table class="footer-wrap" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;clear: both;">
    	<tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
    		<td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></td>

    		<td class="container" style="margin: 0 auto;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;display: block;max-width: 720px;clear: both;">
    			
    				<!-- content -->
    				<div class="content" style="margin: 0 auto;padding: 15px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;max-width: 720px;display: block;">
    					<table class="about-table" style="margin: 0;padding: 20px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
                <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                  <th class="footer-img-holder" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><%= image_tag("logo_footer_2x.png", class: "footer-logo") %></th>
                  <th class="about-header-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;vertical-align: bottom;padding-left: 20px;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: bold;font-size: 14px;line-height: 1.6;color: #4A4A4A;">Share the Wisdom <%= image_tag("small_grey_arrow_2x.png",:class=>"arrow") %></p></th>
                  <th class="about-header-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;vertical-align: bottom;padding-left: 20px;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: bold;font-size: 14px;line-height: 1.6;color: #4A4A4A;">More Goodness <%= image_tag("small_grey_arrow_2x.png",:class=>"arrow")%></p></th>
                </tr>
    						<tr class="about-table-row" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
    							<td class="about-table-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;padding-left: 30px;vertical-align: top;">
    								<p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Our purpose is to help you
                      optimize your life so we can
                      change the world together.</p>
                    <table class="about-company-table" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
                      <thead style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                        <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                          <th style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;text-align: left;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;"><b style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">Company</b><%=image_tag("small_grey_arrow_2x.png",:class=>"arrow") %></p></th>
                        </tr>
                      </thead>
                      <tbody style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                        <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                          <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">About</p></td>
                          <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Affiliate Program</p></td>
                        </tr>
                        <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                          <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Contact Us</p></td>
                          <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Privacy Policy</p></td>
                        </tr>
                        <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                          <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Support</p></td>
                          <td style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">Terms and Conditions</p></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>

                  <td class="about-table-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;padding-left: 30px;vertical-align: top;">
                    <p class="social-img-holder" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;text-align: center;color: #494949;"><%= image_tag("twitter_icon_2x.png", class: "twitter-img") %></p>
                    <p class="social-img-holder" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;text-align: center;color: #494949;"><%= image_tag("facebook_icon_2x.png", class: "fb-img")%></p>
                  </td>

                  <td class="about-table-cell" style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;padding-left: 30px;vertical-align: top;">
                    <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">The Academy for Optimal Living
                      Virtual Conferences
                      PhilosophersNotes
                      Optimal Living 101
                      Rock Your Goddess Life
                      Blisstations
                      Quotes
                      Big Ideas</p>
                  </td>

    						</tr>

                <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                  <td colspan="3" class="entheos-info-cell" style="margin: 0;padding: 20px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;border: 1px solid #E0E0E0;background-color: #F5F5F5;text-align: center;">
                    <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;"><b style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">en + theos.</b> Two little Greek words. Put'em together and you've got <i style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">enthusiasm</i>--or "God within"--the secret sauce to authentic awesomeness.</p>
                  </td>
                </tr>
    					</table>
              <table class="unsubscribe-info-table" style="margin: 0;padding: 20px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;width: 100%;">
                <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                  <td class="unsubscribe-info-cell" style="margin: 0;padding: 0 30px;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;text-align: center;">
                  <p style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #494949;">You're receiving this email because you signed up for the {insert reason}.
                  If this email looks weird,<a style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color: #2BA6CB;"> view it in your browser.</a>
                  If you don't want to receive this newsletteranymore,you can <a style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color: #2BA6CB;">unsubscribe</a>(if you like share it with your friend!)
                  </p></td>
                </tr>
              </table>
    				</div><!-- /content -->
    				
    		</td>
    	</tr>
      <tr style="margin: 0;padding: 0;font-family: &quot;Helvetica&quot;,&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"><%= link_to "Send email",welcome_index_path, :method => "post" %></tr>
    </table><!-- /FOOTER -->
  </div>
</body>
</html>